<h1>Find the Primes</h1>
<form action="/prime">
  <div class="form-group">
     <label for="prime">What is your word?</label>
     <input id="prime" name="prime" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-info">Calculate</button>
</form>
