<h1>Find the Primes</h1>
<form action="/prime">
  <div class="form-group">
     <label for="prime">Any number not over ~10000</label>
     <input id="prime" name="prime" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">Find</button>
  <p> (Output is all primes upto your number) </p>
</form>
